[package]
name = "kernel"
version = "0.1.0"
authors = ["zzhgithub <zzhggmm@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uart_16550 = "0.2.10"
x86_64 = "0.12.2"
lazy_static = {version = "1.4.0", features = ["spin_no_std"]}
buddy_system_allocator = "0.5.0"
spin = "0.6.0"
pic8259_simple = "0.2.0"
pc-keyboard = "0.5.1"
acpi = "1.1.0"
raw-cpuid = "8.0.0"
hashbrown = "0.9.1"
log = "0.4"

# Others Dependencies
bootloader = { path = "../bootloader",default-features = false}
trapframe = { git = "https://github.com/rcore-os/trapframe-rs.git" }
rcore-console = { git = "https://github.com/rcore-os/rcore-console.git", default-features = false}
bitmap-allocator = { git = "https://github.com/rcore-os/bitmap-allocator" }
apic = { git = "https://github.com/rcore-os/apic-rs.git" }
pci = { git = "https://github.com/rcore-os/pci-rs", rev = "a4e7cea6" }
isomorphic_drivers = { git = "https://github.com/rcore-os/isomorphic_drivers", rev = "fcf694d2", features = ["log"] }
rcore-fs = { git = "https://github.com/rcore-os/rcore-fs", rev = "517af47" }
rcore-fs-devfs = { git = "https://github.com/rcore-os/rcore-fs", rev = "517af47" }
rcore-fs-sfs = { git = "https://github.com/rcore-os/rcore-fs", rev = "517af47" }
rcore-fs-mountfs = { git = "https://github.com/rcore-os/rcore-fs", rev = "517af47" }

# rcore-fs = {path="../../rcore-fs/rcore-fs"}
# rcore-fs-devfs = {path="../../rcore-fs/rcore-fs-devfs"}
# rcore-fs-sfs = {path="../../rcore-fs/rcore-fs-sfs"}
# rcore-fs-mountfs = {path="../../rcore-fs/rcore-fs-mountfs"}

[dependencies.conquer-once]
version = "0.2.0"
default-features = false

[dependencies.crossbeam-queue]
version = "0.3.0"
default-features = false
features = ["alloc"]

[dependencies.futures-util]
version = "0.3.4"
default-features = false
features = ["alloc"]